<html>
<head>
<img align= "middle" src="http://www.hp-lexicon.org/images/icons/shield_01-5B1-5D.jpg" height ="240px" width="200px">
<title>FaceWarts</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css"
</head>
<body>

<h1>Facewarts </h1>
<h2>Gryffindor: Dumbledore</h2>


<img align= "middle" src="http://img1.wikia.nocookie.net/__cb20100123194407/harrypotter/images/e/ee/Promo_pic_of_Richard_Harris_as_Professor_Dumbledore_(CoS).jpg" height ="240px" width="200px">



<p>"You might belong in Gryffindor,
Where dwell the brave at heart,
Their daring, nerve and chivalry
Set Gryffindors apart"
—The Sorting Hat[src]
</p>
<h2>About Dumbledore</h2>
<p>Professor Albus Percival Wulfric Brian Dumbledore, Order of Merlin, First Class, Grand Sorc.[7] (Summer[1], 1881[2]– 30 June, 1997) was the Transfiguration Professor, and later Headmaster of Hogwarts School of Witchcraft and Wizardry. Professor Dumbledore also served as Supreme Mugwump of the International Confederation of Wizards (?–1995) and Chief Warlock of the Wizengamot (?–1995; 1996-1997). He was a half-blood wizard, the son of Percival and Kendra Dumbledore, and the elder brother of Aberforth and Ariana. His father died in Azkaban when Dumbledore was young, while his mother and sister were later accidentally killed. His early losses greatly affected him early on, even at his death, but in turn made him a better person. Albus Dumbledore was considered to be the most powerful wizard of his time. He was most famous for his defeat of Gellert Grindelwald, the discovery of the twelve uses of dragon's blood, and his work on alchemy with Nicolas Flamel.</p>

<p>It was through Dumbledore that resistance to the rise of Lord Voldemort was formed, as it was he who founded and led both the first and second Order of the Phoenix. Due to the fact that he had a keen mind and legendary power, Dumbledore became the only wizard that Voldemort ever feared. He was the wielder and the master of the Elder Wand from 1945 until 1997 and considered by many as the greatest Headmaster to ever grace Hogwarts. As he was about to die by a cursed ring, he planned his own death with Severus Snape. He was killed by Snape during the Battle of the Astronomy Tower.</p>

<p>Though he was no longer alive at the time, it was through Dumbledore's machinations that Voldemort was ultimately defeated and peace restored to the wizarding world. He is the only Headmaster that was laid to rest at Hogwarts. Albus Dumbledore's portrait still remains at Hogwarts. Harry Potter later named his second son Albus Severus Potter after him.</p>

</body>


</html>