<!DOCTYPE html>
<html>
<head>
	<title>backbone_cars</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>

	<script id='car_template' type='text/template'>
		Make: <%= car.make %>, Type: <%= car.type %>, Color: <%= car.color %>
	</script>
</head>
<body>

	<ul id="car-list">
	</ul>
	<script src='javascripts/app.js'></script>
</body>
</html>
