main{
	text-align: right;
	padding-right: 30px;
}

section#top img{
	width: 700px;
	height: auto;

}
aside{
	float: left;
	text-align: left;
}
aside > wimg{
	width: 30px;
}
aside ul li{
	list-style-type: none;

}

section#middle img{
	width:223px;
	height: auto;
	margin: ;
}
img#left{
	margin:10px 6px 10px 0px;
}
img#middle{
	margin: 10px 5px 10px 6px;
}
img#right{
	margin: 10px 0px 10px 6px;
}
section#middle article{
	display: inline-block;
}

section#bottom img{
	width:350px;
	height:auto;
}
section#bottom article{
	display: inline;
	width: 50%;
}
