<html>
<head>
	<title></title>
</head>
<body>

	<form method="POST" action="/">
		Character name: <input type="text" name="name">
		Link to character pic: <input type="text" name="image">
		<select name="house_id"


		<option value="house[name]" >

</body>
</html>