<html>
<head>
	<title></title>
</head>
<body>
<h2>Add a new author to our database</h2>


<form method="POST" action="/authors">
Name: <input type= "text" name="name" placeholder="Enter name..">
Email: <input type ="text" name="email" placeholder="Enter email..">
<button>Submit</button>
</form>








</body>
</html>