<html>
<head>
	<title></title>
</head>
<body><p>
<% posts.each do |a| %>
<%= a["post"] %><br>
<img src="<%= a['images']['one'] %>">
<img src="<%= a['images']['two'] %>">
<img src="<%= a['images']['three'] %>">
<br><br>
<% end %>
</p></body>
</html>