<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"> -->
<title>New Patient Confirmation</title>
</head>
<body>

<h1>Patient was added</h1>

  <br><br>

<p><a href="/">Return Home</a></p>
<a href="/new_patient_form">Add a patient</a>
<a href="/search">Search</a>

</body>
</html>