<doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"> -->
<title>Search Results</title>
</head>
<body>

<h1>Search Results</h1>

  <br><br>
<p> 

<%= condition %>
<%= name %>

<a href="/">Home</a>
<a href="/new_patient_form">Add a patient</a>
<a href="/search">Search</a>

</p>

</body>
</html>