<html>
  <head>
    <title>Groceries</title>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
    
  </head>
  <body>
    <div class='form'>
      <input name="item-name" placeholder="tomatoes">
      <input name="number" placeholder="how many">
      <button class="adding">ADD</button>
    </div>
    <ul class="list">
    </ul>

    <%= erb(:template) %>

    <script src="./scripts.js"></script>
  </body>
</html>