<html>
<head>
	<title>Your balance</title>
</head>
<body>
	<%= remaining_balance %><br>
	<a href="/transactions">Make another Transaction</a><br>
	<a href="/users">See Balance</a><br>
	<a href="/logout">Logout</a>
</body>
</html>