<html>
<head>
	<title>Your Bank</title>
</head>
<body>
	<h2> Login to Your Bank</h2>
	<form method="POST" action="/login">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Login</button>
	</form>

	<h2> Sign Up to this Bank</h2>
	<form method="POST" action="/users">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Create Account</button>
	</form>

</body>
</html>