<!doctype html>
<html>
<body>
<h1> Add a dorm </h1>
<form method="POST" action="/dorm">

Building Name: <input type="text" name="building">
Buliding Capicity: <input type="text" name="capicity">


<button>Add</button>
</form>
</body>
</html>