<html>
<head>
<img src="http://www.hp-lexicon.org/images/icons/shield_sly.jpg">
<title>FaceWarts</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css"
</head>
<body>

<h1>Facewarts </h1>
<h2>Slytherin House: Draco</h2>

<img src="http://img2.wikia.nocookie.net/__cb20110212183433/villains/images/a/a0/Draco_malfoy.jpg">

<p>"Or perhaps in Slytherin,
You'll make your real friends,
Those cunning folk use any means,
To achieve their ends."
—The Sorting Hat[src]</p>

<h2>About Draco</h2>
<p>Draco Lucius[5] Malfoy (b. 5 June, 1980) was a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (née Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991 to 1998 and was sorted into Slytherin house. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, while he quickly developed a rivalry with Harry Potter.</p>

<p>He was made a prefect for his house and was a member of the Inquisitorial Squad during his fifth year, at the end of which his father was imprisoned in Azkaban following the Battle of the Department of Mysteries. Lord Voldemort charged Draco with making up for Lucius's failure, and he became a Death Eater at age sixteen, but was quickly disillusioned with the lifestyle. Draco was unable to complete his task — murdering Albus Dumbledore, which was taken over by Severus Snape — and only performed his other duties fearfully and reluctantly. He and his family defected hours before the end of the Second Wizarding War in order to avoid imprisonment in Azkaban following Voldemort's defeat.</p>

<p>Draco eventually married Astoria Greengrass and had at least one child, Scorpius Malfoy.</p>

</body>
</html>