<html>
<head>
<img src="http://www.hp-lexicon.org/images/icons/shield_sly.jpg">
<title>FaceWarts</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css"
</head>
<body>

<h1>Facewarts </h1>
<h2>Slytherin House: Snape</h2>

<img src="http://img4.wikia.nocookie.net/__cb20110316031920/harrypotter/images/c/c1/Severus-snape1.jpg" height="400px" width="280px">

<p>"Or perhaps in Slytherin,
You'll make your real friends,
Those cunning folk use any means,
To achieve their ends."
—The Sorting Hat[src]</p>
<h2>About Snape</h2>
<p>Professor Severus Snape (9 January, 1960 – 2 May, 1998) was a half-blood wizard who was the son of the witch Eileen Snape (née Prince) and Muggle Tobias Snape. During his lifetime, Severus Snape was Potions Master (1981–1996), Defence Against the Dark Arts professor (1996-1997), and Headmaster (1997-1998) of Hogwarts School of Witchcraft and Wizardry (which he attended as a student from 1971 until 1978). He was also member of the Order of the Phoenix and played a very important role in both of the Wizarding Wars against Lord Voldemort.</p>

<p>Despite Severus Snape's wizarding heritage, he was raised in the Muggle dwelling of Spinner's End, which was in close proximity to the home of the Evans family. He met Lily and Petunia Evans when he was nine, and fell deeply in love with Lily, becoming a close friend of hers. In 1971 he began his first term at Hogwarts School of Witchcraft and Wizardry where he was sorted into Slytherin. This put him in the same year as his true love, Lily Evans. Severus became the immediate enemy of James Potter and Sirius Black and was a frequent victim of their bullying. Snape developed a passion for the Dark Arts at a young age, and had followed the pure-blood supremacists in Slytherin House, despite his own marred pedigree and his love for Lily, a Muggle-born. This put his friendship with Lily under great strain. After leaving school he joined the Death Eaters along with a large group of his fellow Slytherins.</p>

<p>Severus was made a member of the Slug Club, presumably because of his brilliance at potion-making, and Horace kept a picture of him as a student, clutching his copy of Advanced Potion-Making. Despite this, Horace did not have many hopes for Severus' future, as his photograph was kept behind many others.[4]</p>

<p>Shortly before Lily Evans was killed by Lord Voldemort, Snape changed sides and became a member of the Order of the Phoenix and double agent during the Second Wizarding War. With tremendous difficulty, Snape was able to prevent Lord Voldemort from learning the truth about his loyalties. Despite the opinions of most others, Albus Dumbledore trusted Snape for reasons that were kept between them both until their deaths. Upon his death, it was revealed that his deep, strong love for Lily Evans caused him to redeem himself, joining Dumbledore's cause at the prospect of her protection from Lord Voldemort.</p>

<p>The relationship between Dumbledore and Snape would be one of an unusually strong loyalty, so much so that Snape agreed to kill Dumbledore upon Dumbledore's own request. Before Dumbledore's death, Snape promised to protect the students of Hogwarts from the Death Eaters, who would inevitably take control of the Ministry of Magic, as well as the school. Snape later participated in the Battle of Hogwarts, but was killed by Lord Voldemort who mistakenly believed that Snape was the master of the Elder Wand, an immensely strong and powerful wand that Voldemort deeply desired, when in reality, Draco Malfoy was, unknowingly, the master of the Elder Wand because he disarmed Dumbledore.</p>

<p>After his death, Harry Potter ensured that Severus Snape's portrait remained at Hogwarts, honouring him as a hero, despite their significant personal differences. In addition Harry later named his second son Albus Severus Potter after him.</p>
</body>
</html>