<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
</head>
<body>
  <form action="/dorms" method="POST">
    <input type="text" name="name" placeholder="Dorm name">
    <input type="text" name="capacity" placeholder="Capacity">

    <button>Submit</button>
  </form>
</body>
</html>