<html>
<head>
	<title>Student</title>
</head>
<body>
	<!-- See server.rb - result is the variable we would like to pass, andw e set it to a key of student so it is accesible in teh view. They do not have to be teh same exact variable names for it to work. -->
	<h1> <%="#{student["first"]} #{student["last"]}" %> </h1>
	<h3> Email: <%= student["email"] %> </h3> 
</body>
</html>