<html>
<head>
	<title>Student</title>
</head>
<body>
		<h2>Search results for "<%= keyword %>"</h2>
		<% if results.length == 0 %>
			<h2> No matches for that search! </h2>
		<% else %>
			<ul>
				<% results.each do |student| %>
					<li><%= "#{student["first"]} #{student["last"]}" %> - <%= student["email"] %></li>
				<% end %>
			</ul>
		<% end %>

</body>
</html>