<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Hello!</title>
</head>
<body>
  <h1>Say hello!</h1>
  <form action="/name" method="POST">
    <label>
      Name:
      <input type="text" name="first_name" placeholder="Jeffrey">
    </label>
    <button>Say Hello</button>
  </form>


  <a href="/fun">See some fun things!</a>

  <a href="/">Home</a>
</body>
</html>