<h2> HELLO <%= @user.email %> </h2>

<h3> Welcome to the secret page </h3>

<form method="POST" action="/session">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<input name="_method" value="DELETE" type="hidden">
	<button>Logout</button>
</form>