<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
  <title>Tess' Music Database</title>
</head>
<body>
<div class="header"><h1>Welcome to my music database!</h1></div>

<div class="menu" style="height:600px;width:200px;float:left;">
<b><u>Menu</u></b><br>
<a href="http://127.0.0.1:2000/">Home</a><br>
Top Artists<br>
Advanced Search<br></div>

<br>
  <form action="/words" method="GET">
    <input type="text" name="artist_search" placeholder="Enter an artist..." font-size= "12px"/>
    <button>Submit</button>
  </form><br>


<p>Let's get started! Enter an artist you want to learn more about in the search bar.</p>




<div id="footer" style=";clear:both;text-align:center;">
Tess' Music Database</div>

</body>




</html>