<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
  <title>Tess' Music Database</title>
</head>


<body>
	<div class="header"><h1>Search results for {{search}}</h1></div>

	<div class="menu" style="height:600px;width:200px;float:left;">


<b><u>Menu</u></b><br>
<a href="http://127.0.0.1:2000/">Home</a><br>
Top Artists<br>
Advanced Search<br></div>


<p>

{{search_results}}

</p>




<div class="footer" style="clear:both;text-align:center;">
Tess' Music Database</div>

</div>

</body>