<!doctype html>
<html>
<h1> Search for a mechanic</h1>


<p> You can search for a mechanic by name or favorite car. In the url above type in "/search/mechanic_name/SEARCH NAME" to search by name or "search/mechanic_car/FAVORITE CAR" to search by favorite car.</p>


<br><br>
<h1> Search for a car</h1>

<p> Or you can search for a car by make or model. In the url above type in "/search/car_make/SEARCH MAKE" to search by make or "search/car_model/CAR MODEL" to search by car model.</p>



</p>
</html>