<html>
<head>
	<title>Dog Breeds</title>
</head>
<body>
<h1> Look at all these Dog breeds</h1>


<h3> Register your doggy</h3>
<form method="POST" action="/">
	Dog's name<input type="text" name="name">
	Dog's breed<input type="text" name="breed">
	Dog's age<input type="text" name="age">
	<button>Register Dog</button>
</form>

<ul>
<% dog_breed.each do |a| %>
	<li> <%= a[:breed] %> </li> <br>
	<form method="POST" action="/dog/<%= a[:id] %>">
		<input type="hidden" name="_method" value="DELETE">
		<button> Delete dog</button>
	</form><br>

	<form method="GET" action="/dog/<%= a[:id] %>/edit">
		<button>Edit Dog</button>
	</form><br>
<% end %>
</ul>



</body>
</html>