<html>
<head>
	<title>New Image Added</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"
</head>
<body>

<h1> Pictures have been added to your blog post!</h1>
<br><br>

</body>
</html>