<html>
<head>
	<title>Wdumblr</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"
</head>
<body>
<h1>WDumbler!</h1>
<h3>Blogging site</h3>


<a href="/author">WDumbler's Authors</a>
<a href="/posts">New 'Dumbles</a>

</body>
</html>