<html>
<head>

	<title>New Post</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"
</head>
<body>
<h1> Add a new blog post</h1>
<p>

<form method="POST" action="/posts">
	<textarea rows= "4" cols="50" name="post" required></textarea><br><br>
	*Email address: <input type="text" name= "email">
	Author: <select name = "author_id">
	<% authors.each do |a| %>
		<option value= "<%= a["id"] %>"><%= a["name"] %></option>
		<% end %>
	</select>
	Keywords: <input type="text" name="keyword"> 
	<button>Submit</button>
</form>
</p>
</body>
</html>