<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css"
</head>
<body><p>
<% posts.each do |a| %>
<%= a["content"] %><br>

<form method = "POST" action = "/posts/<%= a["author_id"] %>/images">
	<button> Get Images </button>
<br><br>
<% end %>
</p></body>
</html>