<html>
<head>
	<title>Index</title>
</head>
<body>
<h1>WDumbler!</h1>
<h3>Blogging site</h3>

<ul>
<li><a href="/author">WDumbler's Authors</a><br></li>
<li><a href="/posts">New 'Dumbles</a></li>
</ul>
</body>
</html>