<!doctype html>
<html>
<body>

<h1>Apply to Hogwarts</h1>
<form action="/" method="POST">
Name: <input name="name" type="text">
Age: <input name="age" type="text">
Favorite Spell: <input name="spell" type="text">
<button>Register</button>

<div>
<h3>Links</h3><br>
<a href="/">Hogwards Roster</a><br>
<a href="/students/new">Register a new student</a><br>
<a href="/search">Search Hogwarts Roster</a>
</div>


</form>
</body>
</html>