<!doctype html>
<html>
<body>

<h1>Search for Hogwarts Students</h1>
<form action= "/search_results" method="GET">
Name: <input name="name" type="text">
<button>Search</button>
</form>

<div>
<h3>Links</h3><br>
<a href="/">Hogwards Roster</a><br>
<a href="/students/new">Register a new student</a><br>
<a href="/search">Search Hogwarts Roster</a>
</div>


</body>
</html>