<!doctype html>
<html>
<body>

<h1>Hogwarts Search</h1>
<p>
<%= returned_student %>
<%= none %>
</p>

<div>
<h3>Links</h3><br>
<a href="/">Hogwards Roster</a><br>
<a href="/students/new">Register a new student</a><br>
<a href="/search">Search Hogwarts Roster</a>
</div>

</form>
</body>
</html>