<!doctype html>
<html>
<body>
<p><%= all_students %></p>

<div>
<h3>Links</h3><br>
<a href="/">Hogwards Roster</a><br>
<a href="/students/new">Register a new student</a><br>
<a href="/search">Search Hogwarts Roster</a>
</div>
</form>
</body>
</html>