@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  padding: 70px;
  font-family: 'Open Sans', sans-serif;
}

main {
  border: 1px grey solid;
  height: auto;
  padding: 100px 50px 50px 50px;
}


header img {
  height: 38px;
  margin: 0 auto;
  display: block;
}

nav.top ul li {
  display: inline;
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

ul {
  padding: 0;
}

nav.top ul {
  text-align: center;
}

img.main-photo {
  width: 100%;
  margin-bottom: 18px;
}

section.thumbnails div {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  padding: 0 10px;
}

section.thumbnails img {
  width: 100%;
}

section.thumbnails h4 {
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin-bottom: 20px;
}

footer nav ul li {
  display: inline-block;
  text-transform: uppercase;
}