<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>

<%= astronaut["name"] %> (<%= astronaut["rank"] %>) was on spaceship 

<%= shuttle["name"] %> going to <%= shuttle["destination"] %>

</body>
</html>