<html>
<head>
	<title></title>
</head>
<body>
<p>
<form method="POST" action="/shuttle">
Name of shuttle: <input type = "text" name="name"><br>
Origin Country: <input type = "text" name="origin_country"><br>
Destination: <input type = "text" name="destination"><br><br>
<button>Submit</button></form></p>

</body>
</html>