<!doctype html>
<html>
<body>

<form action="/email" method="POST">
	Enter email: <input type="text" name="email" placeholder="email"><br>
	First name: <input type="text" name="first" placeholder="First Name"><br>
	Last name<input type="text" name="last" placeholder="Last Name"><br>
	<button>Submit</button>
</form>




</body>
</html>
