<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1> GEO Search</h1>

<% location.each do |a| %>
<img src='<%= a %>' atl="">
<%end%>





</body>
</html>
