<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<ul>
<%images.each do |a|%>
<img src=' <%= a %>'/alt=""> 
<%end%>

</body>
